body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

table {
    font-family: "Segoe UI", Arial, sans-serif;
    border-collapse: collapse;
    width: 90vw;
    background: whitesmoke;
    margin: 30px auto;
}

th, td {
    border: 1px solid #ffffffd2;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

img {
    width: 200px;
}
