body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}
.btn{
    background: black
}
table {
    font-family: "Segoe UI", Arial, sans-serif;
    border-collapse: collapse;
    width: 90vw;
    background: whitesmoke;
    margin: 30px auto;
}

th, td {
    border: 1px solid #c5c1c1d2;
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: hwb(0 100% 0%);
}

img {
    width: 200px;
}
